div.fragment {
  display:table;
  padding: 0pt;
}

#nav-tree .arrow {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --warning-color: #510a02;
        --warning-color-dark: #b61825;
        --warning-color-darker: #f5b1aa;
        --note-color: rgb(129, 89, 61);
        --note-color-dark: rgb(255, 106, 0);
        --note-color-darker: #fff6df;
    }

    .image {
        background-color: dimgrey
    }

    dl.note code, dl.note div.fragment {
        background-color: dimgray;
    }
}
